In [27]:
print("""hi this is python variables basics
this file is basically having simple 
variable are case sensitive""")

hi this is python variables basics
this file is basically having simple
variable are case sensitive

In [3]:
2**3

8

In [4]:
x=10

In [5]:
y=12

In [6]:
z=x+y

In [7]:
print(z)

22

In [9]:
a,b,c=10,20,1

In [10]:
a

10

In [11]:
b

20

In [12]:
c

1

# reserved wordss in python

1.we should not reserved words as a variable 
2.python doesnt allow you to use reseved words as keyword

In [28]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [14]:
print="hi"

In [16]:
print("hello")

TypeError: 'str' object is not callable

In [17]:
del print #delete variable whcih we stored

In [18]:
print("vi")

vi

In [19]:
type(print)

builtin_function_or_method

how many resrved words ##33 you are not use this to ur variable name

multi assingment of variables

In [21]:
a,b,c=10,20,"sbat"

In [24]:
type(c)

str

In [26]:
a,b=1 #not having enough input

TypeError: cannot unpack non-iterable int object

In [27]:
type(a,b) #at a time it takes one varibale

TypeError: type() takes 1 or 3 arguments

In [43]:
a,A,c,C=1,3,4,5,

In [44]:
c=b=a

In [45]:
type(b)

int

In [46]:
b

1

In [47]:
a

1

In [48]:
c

1

# User input

In [59]:
#type conversion

In [52]:
name=input("enter your name: ")
print(f"your name is :{name}")

enter your name: ji
your name is :ji

In [57]:
A=input("enater value of a :") #here im not mention int
print(type(A))
B=input("enter a value of b:")
print(type(B))
print(f"addition of a and b is :{A+B}")  #here it addition with out type casting

enater value of a :8
<class 'str'>
enter a value of b:8
<class 'str'>
addition of a and b is :88

In [1]:
A=int(input("enater value of a :"))
print(type(A))
B=int(input("enter a value of b:"))
print(type(B))
print(f"addition of a and b is :{A+B}")  #here it addition with type casting

enater value of a :90
<class 'int'>
enter a value of b:44
<class 'int'>
addition of a and b is :134

In [12]:
#str to int
A="909"
print(f"data type before:{type(A)}, valeu of A: {A}")
A=int(A)
print(f"Data type after conversion: {type(A)},valeu of A: {A}")

data type before:<class 'str'>, valeu of A: 909
Data type after conversion: <class 'int'>,valeu of A: 909

In [67]:
#float to int is allowed 
A=90.9
print(f"data type before:{type(A)}")
A=int(A)
print(f"Data type after conversion:{type(A)}")

data type before:<class 'float'>
Data type after conversion:<class 'int'>

In [11]:
A=float(input("enter float value:"))
B=float(input("enter float value:"))
print(f"sum of a nd b is : {A+B}")

enter float value:7
enter float value:54
sum of a nd b is : 61.0

In [10]:
A=float(input("enter float value:"))
B=int(input("enter float value:"))
print(f"sum of a nd b is : {A+B}")

enter float value:6
enter float value:5
sum of a nd b is : 11.0:

In [15]:
#integer to float also allowed
A=51
print(f"data type before:{type(A)}, valeu of A: {A}")
A=float(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}")

data type before:<class 'int'>, valeu of A: 51
Data type after conversion:<class 'float'>, valeu of A: 51.0

In [16]:
#integer to boolean
A=10
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") #10 is true

data type before:<class 'int'>, valeu of A: 10
Data type after conversion:<class 'bool'>, valeu of A: True

## for any non zero numbers andd string value into bool it give true as an anser
>note true=1,false=0

In [17]:
A=0
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") #0 is false

data type before:<class 'int'>, valeu of A: 0
Data type after conversion:<class 'bool'>, valeu of A: False

In [19]:
A=-5  #when u give 0 it says false other then everythinh you get true
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") #-5 is True

data type before:<class 'int'>, valeu of A: -5
Data type after conversion:<class 'bool'>, valeu of A: True

In [20]:
#sting to boolean
A="barath"  #when u give 0 it says false other then everythinh you get true
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") #string is True

data type before:<class 'str'>, valeu of A: barath
Data type after conversion:<class 'bool'>, valeu of A: True

In [21]:
#empty string
A=""  #in string if you give an value it give True else false
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") # empty string is false

data type before:<class 'str'>, valeu of A:
Data type after conversion:<class 'bool'>, valeu of A: False

In [26]:
#empty string to int
A=""  
print(f"data type before:{type(A)}, valeu of A: {A}")
A=int(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") # empty string to int is not happen

data type before:<class 'str'>, valeu of A:

ValueError: invalid literal for int() with base 10: ''

In [24]:
#list to bool
A=[]  #in list ALSO SAME if you give an value it give True else false
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") # empty list  is false

data type before:<class 'list'>, valeu of A: []
Data type after conversion:<class 'bool'>, valeu of A: False

In [25]:
#list to bool
A=[1,2,3]  #in list ALSO SAME if you give an value it give True else false
print(f"data type before:{type(A)}, valeu of A: {A}")
A=bool(A)
print(f"Data type after conversion:{type(A)}, valeu of A: {A}") # empty list  is false

data type before:<class 'list'>, valeu of A: [1, 2, 3]
Data type after conversion:<class 'bool'>, valeu of A: True

In [44]:
name,place,year,weight=input("what is your name:"),input("where are you from:"),int(input("Birth year:")),int(input("what is your weight:"))
greet="welcome"
age=2022-year


print(f"""{greet},{name}
your from :{place}
your Birth year is:{year}
your weight is :{weight} kgs
you age is :{age}""")

what is your name:barath
where are you from:salem
Birth year:2001
what is your weight:50
/nwelcome,barath
your from :salem
your Birth year is:2001
your weight is :50 kgs
you age is :21

# memorey block

>when ever u assign a value it will allocate some memory if you aaaign Same value for two variable it reuse it not new space allocation

* it gives default size of string is byte

In [73]:
a="barath"

In [79]:
b=1

In [80]:
c="barath"

In [81]:
id(a) # id is used for check memory location

140556939065392

In [82]:
id(b)

140556992117040

In [78]:
id(c)

140556939065392

In [72]:
print(id(a),id(b),id(c))  #string is going to be larger storage

140556939065392 140556992117328 140556939065392

# To do

# Tasks
1.find all type of error enocunted and why include examples?
2.take input of the users A and B print thier sum ,multiplication,squre of the numbers
3.how many reserved key words are thre why we not use the as variable name?
4.create email id wirth ur user input in folllowing format
lastname.firstname@gmail.com
5.try to print the following lines 
-HI iam barath
-My address is 1/83 
-i earn 20$ daily 
6.take user input (name,address,dob,etc..)to fill a form college and their mail ids
7.how to convert following 
-"22.4" into 22
-"22"into complex

#  1.print as a varible by mistake if we give again we cant use that as a function
 # we cant give two variable for one value in same line
 # we can't check varible type at same time like type(a,b)
 # we can't use resrved words as a varibale name python wont allow
 # if you give empty str to bool it will give false 
 # you mention int and you give float vale it throws a error

# 2 .take input of the users A and B print thier sum ,multiplication,squre of the numbers

In [87]:
A=int(input("Enter Value of A :"))
B=int(input("Enter Value of B :"))
Sum=A+B
mul=A*b
sqr_of_A=A**2
sqr_of_B=B**2
print(f"sum of A and B is :{Sum},\nmultiplication of A and B is :{mul},\nsqr of A is :{sqr_of_A},\nsqr of B is :{sqr_of_B}.")

Enter Value of A :4
Enter Value of B :4
sum of A and B is :8,
multiplication of A and B is :4,
sqr of A is :16,
sqr of B is :16.

#  Reserved key words

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

# 4.create email id with ur user input in folllowing format
 # lastname.firstname@gmail.com

In [90]:
lastname=input("enter your lastname:")
firstname=input("enter your firstname:")
print(f"your mail id is :{lastname}.{firstname}@gmail.com")

enter your lastname:murugan18
enter your firstname:barath
your mail id is :murugan18.barath@gmail.com

#  5.print

In [92]:
print("""HI iam barath
My address is salem
I earn 20$ daily """)

HI iam barath
My address is salem
I earn 20$ daily

# 6.user input form

In [93]:
name=input("enter your name:")
address=input("enter your address")
mobile_no=int(input("enter your 10 digit mob no:"))
clg_name=input("enter your college name:")
blood_grp=input("enter your blood group :")
maild=input("enter your mail id ;")

enter your name:Barath
enter your addressSalem
enter your 10 digit mob no:8344693333
enter your college name:DGCT
enter your blood group :A+
enter your mail id ;barathmurugan@gmail.com

In [96]:
print(f"Name:{name},\nAdress={address} \nMob No:{mobile_no} \nCollege name:{clg_name} \nBlood group is :{blood_grp} \nEmail:{maild}")

Name:Barath,
Adress=Salem
Mob No:8344693333
College name:DGCT
Blood group is :A+
Email:barathmurugan@gmail.com

# 7.how to convert following 
-"22.4" into 22
-"22"into complex

In [98]:
a="22.4"
b=int(a)
print(b) #we cant change float to int viceversa is possible int to float

ValueError: invalid literal for int() with base 10: '22.4'

In [99]:
a="22"
b=complex(a)
print(b)

(22+0j)